<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_image_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mint"
        tools:targetApi="31">
        <activity
            android:name=".Activity.NegociosActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityList"
            android:exported="false" />
        <activity
            android:name=".NegocioVistaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainMenuActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>